<div class="container" layout=column layout-align="center center">

    <div class=navbar>
        <center>Kanban</center>
    </div>
    <br>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
        <div class="menu-demo-container" layout-align="center center" layout="column">
            <md-button class="md-raised md-primary" ng-click="ctrl.openMenu($mdMenu, $event)">
                Login
            </md-button>
            <md-menu-content width="5">
                <input type="text" ng-model="lc.user.username" placeholder="Username" />
                <input type="password" ng-model="lc.user.password" placeholder="Password" />
                <md-button class="btn btn-default md-raised md-primary" ng-click="lc.login()" value="Log In">Log IN</md-button>
                <md-button class="md-raised md-primary">
                    <a href="#register">Register</a>
                </md-button>
                </md-button>
        </div>
</div>